.about {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
.status{
  height: 40%px;
  width: 40%;
}
.txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

.mainimg {
  height: 100%;
  width: 70%;
}
